@namespace epub "http://www.idpf.org/2007/ops";

h1, h2 {
    margin-bottom: 1em;
    text-align: center;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}

p+p {
    text-indent: 1em;
}

hr {
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.-epub-media-overlay-active {
    background-color: #FFFF00;
}